{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src = "{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div id="main">
    {% include 'blog3.html' %}
</div>

<script>

  $('#blogform').submit(function(event) {
    event.preventDefault();
    var form = $(this);
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
     enctype: 'multipart/form-data',
      data: form.serialize(),
      cover = $('cover').val(),
      success: function(data)
      {
      $('#main').html(data);
      }
      });

  });

</script>
{% endblock %}